<div class="project-page">
    <h1 class="title">Cómo Con - Bancolombia (2018)</h1>
  
    <div class="video-container">
      <iframe 
        src="https://www.youtube.com/embed/ncEj7Xh3BLc?si=aWBd-WHg6xtG1Hxb" 
        title="Cómo Con - Bancolombia Trailer" 
        frameborder="0" 
        allowfullscreen>
      </iframe>
    </div>
  
    <div class="project-description">
      <p>
        Director for the web-campaign Cómo Con: Bancolombia (Lengua de Señas), produced by Dirty Kitchen.
      </p>
    
      <div class="highlight-box">
        <p>Available on:</p>
      </div>
    </div>
  
    <h2 class="section-title"><span class="dot"></span>Project Credits</h2>
    <div class="project-credits">
        <p>Directed by Laura Pérez Cervera</p>
        <p>Production: Dirty Kitchen</p>
    </div>
  </div>
  

