<div class="project-page">
    <h1 class="title">The Fire Escape (2015)</h1>
  
    <div class="project-description">
      <p>
        Writer and Director for the short film The Fire Escape, Official Selection for the Greenwich Village Film Festival 2015.
      </p>
    </div>
  
    <h2 class="section-title"><span class="dot"></span>Project Credits</h2>
    <div class="project-credits">
        <p>Written and Directed by Laura Pérez Cervera</p>
        <p>Starring: Jessica Fernando and Martin Elias Costa</p>
    </div>
  </div>
  
