<div class="project-page">
    <h1 class="title">Charlie (2017)</h1>
  
    <div class="video-container">
      <iframe 
        src="https://www.youtube.com/embed/YOUTUBE_VIDEO_ID" 
        title="Charlie Trailer" 
        frameborder="0" 
        allowfullscreen>
      </iframe>
    </div>
  
    <div class="project-description">
      <p>
        Created with the Creative Minds Group at Sundance Film Festival 2017.
      </p>
      <p>
        Writer and Director for the short film <em>Charlie</em>, which won Best Screenplay and the Audience Award at the "We Made It in Sundance" Film Competition.
      </p>
  
      <div class="highlight-box">
        <p>Available on:</p>
      </div>
    </div>
  
    <h2 class="section-title"><span class="dot"></span>Project Credits</h2>
    <div class="project-credits">
        <p>Written and Directed by Laura Pérez Cervera</p>
        <p>Starring: Mackenzie Breeden</p>
    </div>
  </div>
  
