/* ABOUT SECTION */

.about {
  text-align: center;
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.profile-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.name {
  font-size: 2rem;
  margin-bottom: 20px;
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
}

.underlined {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  text-decoration-color: #F39C12;
}

/* WORK SECTION */

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 10px 50px;
}

.crew-experience {
  padding: 40px 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.crew-experience h3,
.work h3 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  text-align: center;
}

.crew-compact-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
  font-size: 1rem;
  line-height: 1.6;
}

.crew-compact-list li {
  margin-bottom: 12px;
  text-align: center;
}


@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr; /* stack cards in one column */
    padding: 10px; /* reduce padding for small screens */
    gap: 30px; /* reduce gap between cards */
  }

}

/* SOCIAL LINKS */

/* .social-links {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.social-links .icon-container {
  width: 60px;
  height: 30px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-links img {
  width: 100%;
  height: 100%;
  margin-top: 1px;
}

.social-links a:hover .icon-container {
  transform: scale(1.1);
  background-color: #F39C12;
}

.cima-container {
  padding: 5px;
} */