<div class="project-page">
    <h1 class="title">Encanto (2021)</h1>
  
    <div class="video-container">
      <iframe 
        src="https://www.youtube.com/embed/SAH_W9q_brE?si=M7hoQ-hOPXPY2IX9" 
        title="Encanto Trailer" 
        frameborder="0" 
        allowfullscreen>
      </iframe>
    </div>
  
    <div class="project-description">
        <p> Writer and director at Walt Disney Animation Studios from 2021 to 2022.</p>
        <p>Part of the creative leadership team behind <em>Encanto</em>, the Academy Award-winning animated film by WDAS. 
        Collaborated with producers Yvett Merino, Jennifer Lee, Brad Simonsen, and Clack Spenser, alongside directors and writers Jared Bush, Byron Howard, and Charise Castro Smith.
        </p>
  
      <div class="highlight-box">
        <p>Available on Disney+</p>
      </div>
    </div>
  
    <h2 class="section-title"><span class="dot"></span> Project Credits</h2>
  
    <div class="project-credits">
        <p>Walt Disney Animation Studios</p>
    </div>
  </div>
  
